@import url("https://fonts.googleapis.com/css?family=Roboto");
body .menu--mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  top: 0;
  display: none; }
  body .menu--mobile .menu--mobile__close {
    position: absolute;
    width: 50px;
    right: 10px;
    top: 10px;
    cursor: pointer; }
    body .menu--mobile .menu--mobile__close img {
      width: 100%;
      height: auto; }
  body .menu--mobile .menu--mobile__list {
    font-family: Roboto;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 25px; }
    body .menu--mobile .menu--mobile__list a {
      text-decoration: none;
      color: white; }
    body .menu--mobile .menu--mobile__list .menu--mobile__list__li {
      font-size: 20px;
      margin-bottom: 20px; }
body .main {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  body .main .main__btn--menu--mobile__line {
    width: 100%;
    height: 8px;
    background: white; }
  body .main .main__img {
    width: 600px;
    height: 404px; }
  body .main #main__count {
    position: absolute;
    font-family: Roboto;
    line-height: 18px;
    text-transform: uppercase; }
    body .main #main__count .title {
      font-size: 10px;
      margin-bottom: 0; }
  body .main .main__adv--icon {
    position: absolute; }
  body .main .main__menu {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    body .main .main__menu .main__menu__row {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      body .main .main__menu .main__menu__row .main__menu__row__link .main__menu__row__link__text {
        position: absolute;
        top: 75px;
        color: white;
        font-family: Roboto;
        font-size: 15px;
        opacity: 0;
        transition: all 500ms ease; }
      body .main .main__menu .main__menu__row .main__menu__row__link:hover .main__menu__row__link__text {
        opacity: 1; }

@media screen and (max-width: 768px) {
  .main__btn--menu--mobile {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer; } }
@media screen and (max-width: 667px) {
  .main {
    margin-top: 20px; }
    .main .main__adv--icon {
      bottom: 20px; }
    .main .main__img {
      background: url(img/main300px.png);
      max-width: 300px;
      max-height: 202px; }
    .main #main__count {
      color: white;
      font-size: 13px;
      top: 260px; }
    .main .main__menu {
      max-width: 195px;
      bottom: 60px; }
      .main .main__menu img {
        width: 25px;
        height: auto; }
      .main .main__menu .main__menu__row {
        width: 195px; }
      .main .main__menu .main__menu__row--row1 {
        margin-bottom: 5px; } }
@media screen and (min-width: 668px) {
  .main {
    margin-top: 20px;
      margin-top-display: none; }
    .main .main__adv--icon {
      bottom: 20px; }
    .main .main__img {
      background: url(img/main.png);
      max-width: 600px;
      max-height: 404px; }
    .main #main__count {
      top: 260px; }
    .main .main__menu {
      max-width: 390px;
      bottom: 60px; }
      .main .main__menu .main__menu__row {
        width: 390px; }
      .main .main__menu .main__menu__row--row1 {
        margin-bottom: 25px; } }
@media screen and (max-height: 375px) {
  .main {
    margin-top: 10px; }
    .main .main__adv--icon {
      bottom: 10px; }
    .main .main__menu__row--row1 {
      margin-bottom: 5px; }
    .main #main__count {
      top: 230px; }
    .main .main__menu {
      bottom: 50px; }
      .main .main__menu img {
        width: 15px;
        height: auto; } }
@media screen and (max-height: 320px) {
  .main #main__count {
    top: 120px;
    color: black;
    font-size: 8px; } }
.main--quem--somos {
  display: flex;
  justify-content: center; }

.main--quem--somos__background {
  background: #FFD700;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.75; }

.main--quem--somos__play--icon {
  position: absolute;
  z-index: 999;
  top: 320px;
  margin: 0 auto;
  width: 160px;
  cursor: pointer; }
  .main--quem--somos__play--icon::after {
    content: "Assista o video aqui";
    color: #ef1e1a;
    font-family: Roboto;
    font-weight: bold;
    font-size: 17px; }

.main--quem--somos__text--dbv {
  z-index: 1000;
  position: absolute;
  font-size: 35px;
  font-family: Roboto;
  text-transform: uppercase;
  top: 150px;
  text-align: justify;
  color: #8b0d0d;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold; }

.main--quem--somos__text--maranata {
  z-index: 1000;
  position: absolute;
  font-size: 25px;
  font-family: Roboto;
  bottom: 80px;
  text-align: justify;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold; }
  .main--quem--somos__text--maranata a {
    color: black; }

.main--quem--somos__youtube--dbv {
  position: absolute;
  top: 100px;
  display: none;
  z-index: 10000;
  width: 853px;
  height: 480px; }

.video--dbv {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

@media screen and (max-width: 992px) {
  .main--quem--somos__text--dbv {
    top: 100px;
    font-size: 25px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px; }

  .main--quem--somos__text--maranata {
    z-index: 1000;
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; }

  .main--quem--somos__play--icon {
    top: 320px; } }
@media screen and (max-width: 375px) {
  .main--quem--somos__youtube--dbv {
    top: 310px;
    width: 100%;
    height: 300px; }

  .close--youtube {
    width: 30px;
    height: auto;
    cursor: pointer;
    left: 10px;
    top: 270px; }
    .close--youtube img {
      width: 30px;
      height: auto; }

  .main--quem--somos__play--icon {
    top: 250px;
    width: 63px; }
    .main--quem--somos__play--icon::after {
      content: "Assista o video";
      font-size: 9px; }
    .main--quem--somos__play--icon img {
      width: 63px;
      height: 60px; } }
@media screen and (max-width: 767px) {
  .main--quem--somos--maranata__background {
    opacity: 1; }

  .video--dbv {
    display: none; }

  .main--quem--somos__text--dbv {
    top: 100px;
    font-size: 10px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px; }

  .main--quem--somos__text--maranata {
    z-index: 1000;
    position: absolute;
    font-size: 10px;
    bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; } }
@media screen and (min-width: 376px) and (max-width: 767px) {
  .main--quem--somos__youtube--dbv {
    top: 72px;
    width: 100%;
    height: 500px; }

  .close--youtube {
    width: 50px;
    height: auto;
    cursor: pointer;
    left: 10px;
    top: 78px; }
    .close--youtube img {
      width: 50px;
      height: auto; } }
@media screen and (max-height: 414px) {
  .main--quem--somos__youtube--dbv {
    top: 72px;
    width: 100%;
    height: 300px; }

  .close--youtube {
    top: 60px; }
    .close--youtube img {
      width: 30px;
      height: auto; }

  .main--quem--somos__play--icon {
    top: 220px;
    width: 63px; }
    .main--quem--somos__play--icon::after {
      content: "Assista o video";
      font-size: 9px; }
    .main--quem--somos__play--icon img {
      width: 63px;
      height: 60px; } }
.main--quem--somos--maranata {
  display: flex;
  justify-content: center; }

.main--quem--somos--maranata__background {
  background: #FFD700;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.75;
  top: 0; }

.main--quem--somos--maranata__text--dbv {
  z-index: 1000;
  position: absolute;
  font-size: 35px;
  font-family: Roboto;
  text-transform: uppercase;
  top: 150px;
  text-align: justify;
  color: #8b0d0d;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold; }

.video--dbv {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

.main--quem--somos--maranata__youtube--maranata {
  position: absolute;
  top: 150px;
  display: none;
  z-index: 10000;
  width: 853px;
  height: 480px; }

.close--youtube {
  z-index: 100000;
  position: absolute;
  color: white;
  width: 100px;
  height: auto;
  cursor: pointer;
  left: 190px;
  top: 110px;
  display: none; }
  .close--youtube img {
    width: 100px;
    height: auto; }

.main--quem--somos--maranata__play--icon {
  position: absolute;
  z-index: 999;
  top: 450px;
  margin: 0 auto;
  width: 160px;
  cursor: pointer; }
  .main--quem--somos--maranata__play--icon::after {
    content: "Assista o video aqui";
    color: #ef1e1a;
    font-family: Roboto;
    font-weight: bold;
    font-size: 17px; }

@media screen and (max-width: 992px) {
  .main--quem--somos--maranata__text--dbv {
    font-size: 15px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px; }

  .main--quem--somos--maranata__play--icon {
    top: 320px; } }
@media screen and (max-width: 375px) {
  .main--quem--somos--maranata__text--dbv {
    font-size: 10px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px; }

  .main--quem--somos--maranata__youtube--maranata {
    top: 310px;
    width: 100%;
    height: 300px; }

  .close--youtube {
    width: 30px;
    height: auto;
    cursor: pointer;
    left: 10px;
    top: 270px; }
    .close--youtube img {
      width: 30px;
      height: auto; }

  .main--quem--somos--maranata__play--icon {
    top: 220px;
    width: 63px; }
    .main--quem--somos--maranata__play--icon::after {
      content: "Assista o video";
      font-size: 9px; }
    .main--quem--somos--maranata__play--icon img {
      width: 63px;
      height: 60px; } }
@media screen and (max-width: 768px) {
  .main--quem--somos--maranata__background {
    opacity: 1; }

  .video--dbv {
    display: none; } }
@media screen and (min-width: 376px) and (max-width: 768px) {
  .main--quem--somos--maranata__youtube--maranata {
    top: 72px;
    width: 100%;
    height: 500px; }

  .close--youtube {
    width: 50px;
    height: auto;
    cursor: pointer;
    left: 10px;
    top: 78px; }
    .close--youtube img {
      width: 50px;
      height: auto; } }
@media screen and (max-height: 414px) {
  .main--quem--somos--maranata__youtube--maranata {
    top: 72px;
    width: 100%;
    height: 300px; }

  .close--youtube {
    top: 60px; }
    .close--youtube img {
      width: 30px;
      height: auto; }

  .main--quem--somos--maranata__play--icon {
    top: 250px;
    width: 63px; }
    .main--quem--somos--maranata__play--icon::after {
      content: "Assista o video";
      font-size: 9px; }
    .main--quem--somos--maranata__play--icon img {
      width: 63px;
      height: 60px; } }
.form--contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  font-family: Roboto; }
  .form--contact textarea:focus, .form--contact input:focus, .form--contact select:focus {
    outline: 0; }
  .form--contact .form--contact__input {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 10px;
    padding-left: 20px;
    font-size: 70px; }

.menu {
  z-index: 1000;
  width: 100%;
  height: 70px;
  background-color: #FFD700;
  position: absolute;
  top: 0;
  box-shadow: 5px 1px 5px; }
  .menu .menu__icon .menu__icon__img {
    width: 86px;
    margin: 0 auto;
    margin-top: 5px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=style.css.map */
